<!DOCTYPE html>

<head>
  <!-- 设置页面的UTF-8 编码格式 -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- 引入了对应的 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/todomvc-app-css@2.0.6/index.css">
    <!-- 引入了对应的 vue.js 外部文件 -->
    <script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.js"></script>

    <script type="text/javascript">
        window.onload = function() {
          // 下面的代码,表示使用了浏览器的 localStorage 进行存储. 同时定义了fetch() 和 save()
          // 用来方便操作.
            var STORAGE_KEY = 'todos-vuejs-2.0'
            var todoStorage = {
                fetch: function() {
                    var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
                    todos.forEach(function(todo, index) {
                        todo.id = index
                    })
                    todoStorage.uid = todos.length
                    return todos
                },
                save: function(todos) {
                    localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
                }
            }

            // 定义过滤器,可以分别对 active、completed和all 进行过滤
            // visibility filters
            var filters = {
                all: function(todos) {
                    return todos
                },
                active: function(todos) {
                    return todos.filter(function(todo) {
                        return !todo.completed
                    })
                },
                completed: function(todos) {
                    return todos.filter(function(todo) {
                        return todo.completed
                    })
                }
            }

            // 在这里定义 Vue 的实例
            // app Vue instance
            var app = new Vue({
                // app initial state
                data: {
                    todos: todoStorage.fetch(),
                    newTodo: '',
                    editedTodo: null,
                    visibility: 'all'
                },

                // 定义watcher
                // watch todos change for localStorage persistence
                watch: {
                    todos: {
                        handler: function(todos) {
                            todoStorage.save(todos)
                        },
                        deep: true
                    }
                },

                // 定义computed properties, 可以认为是用来过滤的
                computed: {
                    filteredTodos: function() {
                        return filters[this.visibility](this.todos)
                    },
                    remaining: function() {
                        return filters.active(this.todos).length
                    },
                    allDone: {
                        get: function() {
                            return this.remaining === 0
                        },
                        set: function(value) {
                            this.todos.forEach(function(todo) {
                                todo.completed = value
                            })
                        }
                    }
                },

                // 定义过滤器
                filters: {
                    pluralize: function(n) {
                        return n === 1 ? 'item' : 'items'
                    }
                },

                // 核心方法,实现对于待办事项的增加、删除和修改.
                // 注意,这里没用任何直接操作 HTML DOM 的代码
                // methods that implement data logic
                // note there`s no DOM manipulation here at all.
                methods: {
                    addTodo: function() {
                        var value = this.newTodo && this.newTodo.trim()
                        if (!value) {
                            return
                        }
                        this.todos.push({
                            id: todoStorage.uid++,
                            title: value,
                            completed: false
                        })
                        this.newTodo = ''
                    },

                    // 删除待办事项
                    removeTodo: function(todo) {
                        this.todos.splice(this.todos.indexOf(todo), 1)
                    },

                    // 编辑待办事项
                    editTodo: function(todo) {
                        this.beforeEditCache = todo.title
                        this.editedTodo = todo
                    },

                    // 把待办事项标记为: 已完成
                    dnoeEdit: function(todo) {
                        if (!this.editedTodo) {
                            return
                        }
                        this.editedTodo = null
                        todo.title = todo.title.trim()
                        if (!todo.title) {
                            this.removeTodo(todo)
                        }
                    },

                    // 取消编辑
                    cancelEdit: function(todo) {
                        this.editedTodo = null
                        todo.title = this.beforeEditCache
                    },

                    // 删除已经完成的待办事项
                    removeCompleted: function() {
                        this.todos = filters.active(this.todos)
                    }
                },

                // 使用了自定义的Directive. 也就是HTML中的<todo-focus>
                directives: {
                    'todo-focus': function(el, binding) {
                        if (binding.value) {
                            el.focus()
                        }
                    }
                }
            })

            // 处理路由
            // handle routing
            function onHashChange() {
                var visibility = window.location.hash.replace(/#\/?/, '')
                if (filters[visibility]) {
                    app.visibility = visibility
                } else {
                    window.location.hash = ''
                    app.visibility = 'all'
                }
            }

            window.addEventListener('hashchange', onHashChange)
            onHashChange()
            // 最后,使用 Vue.js 渲染整个页面
            app.$mount('.todoapp')
        }
    </script>
</head>

<body>
    <section class="todoapp">
      <!-- 这里定义了 header,包括了文字的提示和输入框. -->
        <header class="header">
            <h1>todos</h1>
            <input class="new-todo" autofocus autocomplete="off" placeholder="what needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
        </header>
        <!-- 这里的代码把用户已经输入的待办事项做循环展示. -->
        <section class="main" v-show="todos.length" v-cloak>
          <!-- 全选框 -->
            <input class="toggle-all" type="checkbox" v-model="allDone">
            <!-- v-for 用来循环 -->
            <ul class="todo-list">
                <li v-for="todo in filteredTodos" class="todo" :key="todo.id" :class="{ completed: todo.completed, editing: todo == editedTodo }">
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="todo.completed">
                        <label @dblclick="editTodo(todo)">{{ todo.title}}</label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div>
                    <input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editedTodo" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
                </li>
            </ul>
        </section>
        <!-- 底部的状态,点击后可以进行过滤 -->
        <footer class="footer" v-show="todos.length" v-cloak>
            <span class="todo-count">
                <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
            </span>
            <ul class="filters">
                <li><a href="#/all" :class="{selected: visibility == 'all' }">All</a></li>
                <li><a href="#/active" :class="{selected: visibility == 'active' }">Active</a></li>
                <li><a href="#/completed" :class="{selected: visibility == 'completed' }">Completed</a></li>
            </ul>
            <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">Clear completed</button>
        </footer>
    </section>
</body>

</html>