{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'个人博客 - 发起话题'}}{{/block}}

{{block 'body'}}
<section class="container">
    <div class="row">
        <div class="col-md-5">
            <form id="topics_new_form" method="post" action="/topics/new">
                <div class="form-group">
                    <label for="exampleInputEmail1">选择板块</label>
                    <select class="form-control" name="module">
                        <option value="share">分享</option>
                        <option value="question">问答</option>
                        <option value="offer">招聘</option>
                        <option value="client-T">客户端测试</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="topics_head">标题</label>
                    <input type="text" class="form-control" name="head" id="topics_head" placeholder="Head">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">内容</label>
                    <textarea class="form-control" rows="3" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</section>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
    $('#topics_new_form').on('submit', function(e) {
        e.preventDefault(); // 阻止表单的默认提交行为
        var formData = $(this).serialize()
        $.ajax({
            url: '/topics/new',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function(data) {
                var err_code = data.err_code;
                if (err_code === 0) {
                    // 添加评论成功,跳转到首页
                    window.location.href = "/";
                } else if (err_code === 500) {
                    window.alert("服务器忙,请稍后重试!");
                }
            }
        })
    })
</script>
{{/block}}